/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #cbbeff;
  --background-end-rgb: 255, 255, 255;
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: #6649ae;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  @apply box-border m-0 p-0;
}

html,
body {
  @apply max-w-[100vw] overflow-x-hidden;
}
body {
  @apply text-[rgb(var(--foreground-rgb))];
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
a {
  @apply text-inherit no-underline;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*
.main {
  @apply flex flex-col justify-between items-center min-h-screen p-24;
}
*/

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.description {
  @apply text-[0.85rem] max-w-[var(--max-width)] w-full z-[2];
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-family: var(--font-mono);
}

.description a {
  @apply flex justify-center items-center gap-2;
}

.description p {
  @apply relative bg-[rgba(var(--callout-rgb),0.5)] border border-[rgba(var(--callout-border-rgb),0.3)] rounded-[var(--border-radius)] m-0 p-4 border-solid;
}

.code {
  @apply font-bold;
  font-family: var(--font-mono);
}

.grid {
  @apply max-w-full w-[var(--max-width)];

  @screen md {
    grid-template-columns: repeat(4, minmax(25%, auto));
    display: grid;
  }
}

.card {
  @apply rounded-[var(--border-radius)] border border-[rgba(var(--card-border-rgb),0)] px-[1.2rem] py-4 border-solid;
  background: rgba(var(--card-rgb), 0);
  transition: background 200ms, border 200ms, box-shadow 200ms;
}

.card span {
  @apply inline-block transition-transform duration-200;
}

.card h2 {
  @apply font-semibold mb-[0.7rem];
}

.card p {
  @apply opacity-60 text-[0.9rem] leading-normal max-w-[30ch] m-0;
}

.center {
  @apply flex justify-center items-center relative gap-16 px-0 py-16;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    @apply border border-[rgba(var(--card-border-rgb),0.15)] shadow-[0px_4px_12px_0px_#CBBEFF] border-solid;
    background: rgba(var(--card-rgb), 0.1);
  }
  .card:hover span {
    @apply translate-x-1;
  }
  @media (prefers-color-scheme: dark) {
    .card:hover {
      @apply shadow-none;
    }
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    @apply p-16;
  }
  .grid {
    @apply grid-cols-[1fr] max-w-xs text-center mb-[120px];
  }
  .card {
    @apply px-10 py-4;
  }
  .card h2 {
    @apply mb-2;
  }
  .center {
    @apply pt-32 pb-24 px-0 before:h-[300px];
  }
  .center::before {
    transform: none;
  }
  .description {
    @apply text-[0.8rem];
  }
  .description a {
    @apply p-4;
  }
  .description p,
  .description div {
    @apply flex justify-center fixed w-full;
  }
  .description p {
    @apply items-center border-b-[rgba(var(--callout-border-rgb),0.25)] bg-clip-padding backdrop-blur-xl pt-8 pb-[1.4rem] px-4 rounded-none border-[none] border-b border-solid inset-[0_0_auto];
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
  }
  .description div {
    @apply items-end pointer-events-none h-[200px] z-[1] p-8 inset-[auto_0_0];
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    @apply grid-cols-[repeat(2,50%)];
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    @apply rotate-[360deg];
  }
  to {
    @apply rotate-0;
  }
}

/* from Promptopia */
.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black font-inter text-center text-sm flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
